@charset "utf-8";
/* CSS Document */


/*==== CSS RESET ====*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*==== END CSS RESET ====*/

body {
 background: url(../images/bodyBackground.jpg) repeat-x;
 font-family: Arial, Helvetica, sans-serif;
}

#wrapper {
 width: 960px;
 margin: 0 auto;
}

.separator {
 border-bottom: 1px solid #c0c0c0;
 height: 0px;
 width: 100%;
 margin: 0 0 20px 0;
}

.clear {clear: both;}

nav {
 margin-top: 17px;
 overflow: hidden;
}

nav p {
 float: right;
 margin-top: 17px;
}

nav p a {
 font-size: 13px;
 color: #999898;
 text-decoration: none;
}

nav p a:hover {
 color: #000000;
}

nav ul {
 float: right;	
 margin: 67px -123px 0 0; 
 
}

nav ul li {
 float: left;
 padding-left: 65px;
}

nav ul li a {
 text-decoration: none;
 text-transform: uppercase;
 font-size: 12px;
 font-weight: bold;
 color: #fe9b00;
}

nav ul li a:hover {
 color: #090909;
}

nav h1 {
 width: 183px;
 height: 100px;
 text-indent: -9999px;
 background: url(../images/logoSprites.png) no-repeat 0 0;
 float: left;
 margin: 20px 0 13px 0;
}

header {
 background: url(../images/headerBackground.jpg) no-repeat;
 overflow: hidden;
}

header h1 {
 margin: 40px 0 0 30px;
 text-indent: -9999px;
 background: url(../images/titleLarge.png) no-repeat;
 width:  454px;
 height: 213px;
 float: left;
}

#underTitle {
 float: left;
 width: 445px;
 height: 45px;
 margin: 35px 0 0 30px;
 background-color: #090909;
}

#underTitle p {
 margin: 14px 10px 0 10px;
}

#underTitle p a:last-child {
 float: right;
}

#underTitle a {
 text-transform: uppercase;
 font-size: 15px;
 font-weight: bold;
 color: #999898;
 text-decoration: none;
}

#underTitle a:hover {
 color: #fe9b00;
}

header #headerImg {
 float: right;
 width: 445px;
 margin-top: 15px;
 position: relative;
}

#headerImg img:first-child {
 margin-top: 62px;
}

#headerImg img:last-child {
 position: absolute;
 right: 0;
 bottom: 2px;
}

#up {
 overflow: hidden;
 margin-top: 18px;
 border-top: 1px solid #c0c0c0;
}

.sectionUpCell {
 float: left;
 width: 285px;
 margin-right: 52px;
}

.sectionUpCell h2 {
 font-size: 18px;
 font-weight: bold;
 padding: 24px 0 12px 0;
 border-bottom: 6px solid #090909;
}

.sectionUpCell p,
.sectionUpCell li {
 font-size: 12px;
 color: #5d5d5d;
 padding-bottom: 20px;
}

.sectionUpCell li:last-child {
 padding-bottom: 0;
}

.sectionUpCell a {
 text-transform: uppercase;
 text-decoration: none;
 font-size: 12px;
 font-weight: bold;
 color: #fe9b00;
}

.sectionUpCell p,
.sectionUpCell ul {
 margin-top: 20px;
 line-height: 1.2;
}

.sectionUpCell p { line-height: 1.6;}

.sectionUpCell ul {
 list-style-image: url(../images/checked.png);
 list-style-position: outside;
 width: 265px;
 margin-left: 23px;
}


.sectionUpCell h2:before,
.sectionUpCell a:before ,
#middle h2:before {
 content: url(../images/arrow.jpg) '\00a0\00a0\00a0\00a0';
}


.sectionUpCell cite {
 font-size: 12px;
 color: #090909;
 font-style: italic;
}

.sectionUpCell:last-child {margin-right: 0;}

#middle {
 margin-top: 40px;
 border-top: 1px solid #c0c0c0;
 overflow: hidden;
}

#middle h2 {
 font-size: 18px;
 color: #090909;
 font-weight: bold;
 text-transform: uppercase;
 margin: 20px 0;
}

.sectionMiddleCell {
 float: left;
 position: relative;
 width: 215px;
 height: 135px;
 overflow: hidden;
 margin-right: 32px;
}

.sectionMiddleCell:last-child {
 margin-right: 0px;
}

.sectionMiddleCell a {
 position: absolute;
 bottom: -4px;
 right: 0px;
 display: block;
 width: 62px;
 height: 20px;
 background-color: #fe9b00;
 text-decoration: none;
 text-transform: uppercase;
 font-size: 12px;
 color: #000;
 font-weight: bold;
 text-align: center;
 padding-top: 5px;
}

.sectionMiddleCell a:after {
 content: '\00a0\00a0' url(../images/arrow2.jpg);
}

#down {
 margin-top: 40px;
 border-top: 1px solid #c0c0c0;
 overflow: hidden;
}

#down h3 {
 font-size: 12px;
 font-weight: bold;
 color: #090909;
 margin-bottom: 25px;
}

#down h3:before {
 content: url(../images/arrow.jpg) '\00a0\00a0\00a0\00a0';
}

#down a {
 text-indent: -9999px;
 width: 32px;
 height: 32px;
 display: block;
 float: left;
 margin-right: 15px;
}

#down a:nth-child(2) {
 background: url(../images/socialSprites.png) no-repeat -96px 0;
}

#down a:nth-child(3) {
 background: url(../images/socialSprites.png) no-repeat  0 0;
}

#down a:nth-child(4) {
 background: url(../images/socialSprites.png) no-repeat  -32px 0;
}

#down a:nth-child(5) {
 background: url(../images/socialSprites.png) no-repeat  -64px 0;
 margin-right: 0;
}


#down p {
 font-size: 12px;
 color: #5d5d5d;
}

.sectionDownCell {
 float: left;
 margin-top: 27px;
}

.sectionDownCell.left {
 width: 680px;
 margin-right: 83px;
}

.sectionDownCell.right {
 width: 175px;
}


footer {
 margin-top: 45px;
}

.footerCell {float: left;}

footer h3 {
 float: right;
 text-indent: -9999px;
 width: 120px;
 height:64px;
 background: url(../images/logoSprites.png) no-repeat 0 -100px;
}

footer li {
 float: left;
}