@charset "utf-8";
/* CSS Document */

/*general resets*/
html, body {
 margin: 0;
 padding: 0;
 font-family: Arial, Helvetica, sans-serif;
}

#nav {/*nav section*/
 width: 100%;
 height: 137px;
 background: url(../images/navbackground.png) repeat-x #fff;
}
#nav .in {height: 137px;}

#nav .in .navCell {
 height: 138px;
 min-width: 315px;
 float: left;
 margin: 0;
}

#nav .in .navCell.logo img {
 border: none;
}

#nav .in .navCell.menu {
 float: right;
}

#nav .in .navCell.menu ul {
 list-style-type: none;
 margin-right: 25px;
 margin-top: 60px;
}

#nav .in .navCell.menu ul li {
 float: left;
 padding-right: 30px;
 padding-left: 10px;
 border-left: 1px dotted #ccc;
}

#nav .in .navCell.menu ul li a{
 text-decoration: none;
}

#nav .in .navCell.menu ul li a:hover,
#nav .in .navCell.menu ul li h6:hover {
 color: #F93;
}


#nav .in .navCell.menu ul li a,
#nav .in .navCell.menu ul li h6 {
 margin-top: 0;
 margin-bottom: 0;
 font-size: 0.8em;
 color: #666;
}

#nav .in .navCell.menu ul li h6 {
 margin-top: 4px;
 font-size: 8px;
 color: #ccc;
}

#header {/*header section*/
 width: 100%;
 height: 335px;
 background: url(../images/headerBackground.png) repeat-x #000;
}
#header .in {height: 335px;}

#header .in img {
 margin-top: 22px;
}

#content {/*content section*/
 width: 100%;
 height: 945px;
 background: #fff;
}
#content .in {height: 945px;}

#content .contentCell {
 width: 303px;
 min-height: 338px;
 float: left;
}

#content p {
 font-size: 0.9em;
 color: #666;
 margin-left: 5px;
}

#content button.up {
 margin-left: 5px;
 width: 162px;
 height: 32px;
 background:url(../images/btnLearnMore.png) no-repeat;
 border-radius: 5px;
 border: 1px #CCC;
 margin-bottom: 50px;
}

#content .contentCell.right {
 float: right;
}

#content .contentCell.center {
 margin-left: 10px;
}

#content h2 {
 margin-top: 50px;
}

#content h3 {
 margin: 0;
 font-weight: normal;
 color: #06F;;
}

#content h4 {
 margin-bottom: 0;
 font-weight: normal;
 color: #666;
}

#content .underTitle {
 margin: 0 0 20px 0;
 font-size: 11px;
 color: #999;
}

#content .downHr {
 height: 1px;
 border: 1px dashed #999;
}


#content hr {
 color: #efefef;
 border-color: #efefef;
 height: 1px;
 clear: both;
 margin-bottom: 30px;
}

#content .contentCell.top {
 min-width: 100%;
 min-height: 90px;
 max-height: 90px;
 text-align: center;
 margin-top: 0;
}

#footer {/*footer section*/
 width: 100%;
 height: 183px;
 background:url(../images/footerBackground.png) repeat-x #000;
}
#footer .in {height: 183px;}

#footer .in .footerCell {
 min-width: 300px;
 height: 180px;
 float: left;
}

#footer .in .footerCell.right {
 float: right;
}

#footer p {
 color: #666;
 margin-top: 30px;
 font-size: 12px;
}

#footer ul {
 padding-left: 0;	
 list-style-type: none;
 margin-top: 0;
 margin-left: -7px;
}

#footer ul li {
 color: #666; 	
 float: left;
 font-size: 12px;
}

#footer ul li a {
 text-decoration: none;
 font-size: 12px;
 color: #666;
 padding-left: 7px;
 padding-right: 5px;
}

#footer ul li a:hover {
 text-decoration: underline;
}

/*common styles*/
.in {
 width: 940px;
 margin: 0 auto;
}