@charset "utf-8";
/* CSS Document */

/*
  Business site general resets and styles
  == Chrome, Firefox, Opera, Safari, Internet Explorer ===
*/

/*general resets*/
html, body {
 margin: 0;
 padding: 0;
 font-family: Arial, Helvetica, sans-serif;
}

body {
 background: url(../images/background.jpg) #000 no-repeat;
 background-size: cover;                                 		/* doesnt work in Internet Explorer 8 or lower versions */ 
}

/*container and its contents*/
#container {
 margin: 40px auto;
 width: 960px;
 min-height: 1015px;
 overflow: hidden;
 background-color: #fff;
 border-radius: 10px;
 -ms-behavior: url(PIE.htc);		/*makes border radius work in*/
 position: relative;			/*Internet Explorer 8 or earlier versions*/
}


/*navigation div*/
#navigation {
 margin: 0;	
 height: 98px;
 border-bottom: 1px solid #00F;
 background-color: #FFF;
 border-radius: 10px;
 border-bottom-left-radius: 0px;
 border-bottom-right-radius: 0px;
 -ms-behavior: url(PIE.htc);		  /*makes border radius work in*/
 position: relative;		      /*Internet Explorer 8 or earlier versions*/
}

#navigation .navigationCell {/*common styles for the navigations cell*/
 float: left;
 height: 42px;
 margin: 31px 0 0 41px;
}

#navigation .navigationCell.logo {/*logo styles*/
 background: url(../images/logo.jpg) no-repeat;
 width: 228px;
}

#navigation .navigationCell.menu {/*menu styles*/
 margin-top: 10px;	
 width: auto;
}

#navigation .callUs {
 margin: 0 0 0 41px;
 float: right;
 width: 222px;
 height: 36px;
 
}

#navigation img {
 border: none;					/*no blue blorder in internet explorer*/
 border-radius: 10px;		    /*doesnt work in internet explorer*/
 -ms-behavior: url(PIE.htc);        /*makes the above work*/
 position: relative;            /*in internet explorer 8 or earlier versions*/
}      

#navigation .navigationCell.menu ul {
 list-style-type: none;
 line-height: 2px;
}

#navigation .navigationCell.menu ul li {
 float: left;
 padding: 0 3px;
}

#navigation .navigationCell.menu ul li a{
 text-decoration: none;
 font-weight: bold;
 color: #666;
 padding: 3px 20px;
 border-radius: 3px;
}

#navigation .navigationCell.menu ul li a:hover {
 background: url(../images/currentMenu.jpg);
 color: #fff;
}

#navigation .navigationCell.menu .current {
 background: url(../images/currentMenu.jpg);
 color: #fff;
 cursor: default;
}

/*end navigation div*/


/*main content of the page*/
#mainContent {
 min-height: 650px;
 overflow: hidden;
 background-color: #FFF;
}

#header { /*header inside mainContent*/
 min-height: 83px;
 overflow: hidden;
 background: url(../images/headerSmall.jpg) #009;
}

#header h2, #header h3 {
 float: left;	
 margin: 0 0 0 41px;
 padding-top: 25px;
 color: #fff;
}


#header h3 {
 margin-top: 30px;
 font-size: 1.2em;
}

#header.home h3 a {
 text-decoration: none;
 border: none;
 padding: 10px 20px;
 color: #f00;
 background: url(../images/getStartedHere.jpg);
 border-radius: 5px;
 -ms-behavior: url(PIE.htc);		/*makes border radius work in*/
 position: relative;			/*Internet Explorer 8 or earlier versions*/
}


#header p {
 float: right;
 margin: 30px 50px 0 0;
 font-size: 1.1em;
 color: #fff;
}

#header ul {
 float: right;
 list-style-type: none;
 margin: 30px 50px 0 0;
}

#header ul li {
 float: left;
}

#header ul li a {
 text-decoration: none;
 color: #0CF;
 margin: 0 10px;
}

#header ul li a:hover {
 color: #fff;
}


#header.home{
 max-height: 335px;	
 background: url(../images/headerLarge.jpg);
 padding: 41px 0 0 37px;
}

#header .headerCell {
 float: left;
 width: 439px;
 height: 293px;
}


#header .headerCell.right {
 background: url(../images/headerHomeRight.jpg);
 height: 316px;
 position: absolute;
 right: 41px;
}


#content {/*content inside main content*/
 min-height: 570px;
 overflow: hidden;
 padding: 35px 41px;
}

#content .contentCell {/*the cells from the content*/
 min-width: 230px;
 max-width: 600px;
 min-height: 217px;
 overflow: hidden;
 float: left;
 margin-bottom: 25px;
}

#content .contentCell.top {
 min-width: 960px;
 min-height: 86px;
 margin: -35px 0 0 -41px;
 background-color: #ededed;
 padding: 37px 0 0 51px;
 margin-bottom: 0;
}

#content .contentCell.top  .promo{
 width: 300px;
 height: 68px;
 float: left;
}

#content .contentCell.top  .promo img {
 float: left;
}


#content .contentCell.center {
 margin-left: 45px;
}

#content .contentCell.right {
 float: right;
}

#content.about .contentCell.right img {
 margin: 0 0 0 20px;
}

#content ul {
 list-style-image: url(../images/sidebarList.jpg);
}

#content ul a {
 font-size: 0.8em;
 text-decoration: none;
 color: #00C;
 line-height: 1.9em;
 padding-right: 120px;
 border-bottom: 1px dashed #999;
}


#content .contentCell.bottom {
  clear: both;
  margin-left: -41px;
  margin-bottom: 0;
  padding: 20px 41px;
  min-height: 64px;
  min-width: 100%;
  overflow: hidden;
  background: url(../images/contentBottom.jpg) no-repeat #fff;
}

#content .contentCell.bottom .cell {
 float: left;
 max-width: 400px;
 min-height: 225px;
}

#content .contentCell.bottom .cell img {
 float: left;
}

#content .contentCell.bottom .cell.two {
 float: right;
}

#content.services .contentCell,
#content.home .contentCell { 
  max-width: 270px; 
}

#content .contentCell.right p{
  margin-left: 2em;
}

#content .contentCell input[type="text"],
#content .contentCell textarea {
 width: 400px;
 background-color: #eef;
 border: 1px ridge #ffe;
 border-radius: 5px;
}

#content .contentCell input[type="text"] {
 height: 2em;
}


#content h4 {
 color: #333;
 margin:0 0 20px 0;
 background: url(../images/sidebarNavigation.jpg) #fff repeat-y;
 padding: 8px 23px;
}

#content h2 {
 margin-top: 0;
 color: #666;
}

#content p {
 margin-top: 0;
 color: #666;
 font-size: 0.7em;
}

#content .btn,
#content .contentCell input[type="submit"] {
 background-color: #e6e6e6;
 border: 1px solid #ccc;
 color: #888;
 font-size: 0.7em;
 font-weight: bold;
 padding: 5px 10px;
 border-radius: 5px;
} 

#content .btn.right {float: right;}

#content.services .contentCell p,
#content.home .contentCell p { 
  margin-top: 2em;
}


#content .contentCell.bottom p a {
  text-decoration: none;
  color: #00C;
  font-size:1.2em;
  margin-right: 10px;
}



/*page footer*/
#footer {
 height: 275px;
 background-color: #ededed;
 border-top: 1px solid #999;
 border-radius: 10px;					
 border-top-left-radius: 0;					/*After setting all corners to be radius 10 px*/
 border-top-right-radius: 0;				/*we set the top corners back to 0*/
 -ms-behavior: url(PIE.htc);					/*because in internet eplorer 8 or earlier*/
 position: relative;						/*the commands border-top-left-radius doesnt work*/
}

#footer p{
 font-size: 0.7em;
 color: #999;
}

#footerUp {
 height: 214px;
 border: 1px solid #999;
}

.footerUpCell {
  float: left;
  min-width: 230px;
  min-height: 155px;
  overflow: hidden;
  margin: 27px 0 0 0;
  padding: 0 30px 0 0;
}

.footerUpCell.left {
 margin-left: 41px;
}

.footerUpCell.right {
 padding: 0 0 0 20px;
}

.footerUpCell h4 {
 color: #666;
 margin-top: 0;
}

.footerUpCell ul {
 list-style-type: none;
 padding-left: 0;
}

.footerUpCell ul a{
 font-size: 0.7em;
 text-decoration: none;
 color: #999;
}

.footerUpCell.center p {
  line-height: 1.7em;
}

.footerUpCell strong {color: #000}

.footerUpCell ul a:hover {
 text-decoration: underline;
}

#footerDown{
 height: 58px;
}

.footerDownCell {
 float: left;
 height: 30px;
 min-width: 280px;
 padding: 0;
 margin: 10px 0 0 41px;
}

.footerDownCell.right {
 float: right;
 margin-right: 53px;
}

.footerDownCell.right a {
 margin-right: 20px;	
}

.footerDownCell.right a img{
 margin-right: 17px;	
 border: none;
}