@charset "utf-8";
/* font family*/
@font-face{
		font-family:'Roboto-Bold';
		src:url('../fonts/Roboto-Bold.ttf') format('truetype'),
			url('../fonts/Roboto-Bold.eot') format('embedded-opentype');
		font-weight:normal;
		font-style:normal;
}
@font-face{
		font-family:'RobotoCondensed-Bold';
		src:url('../fonts/RobotoCondensed-Bold.ttf') format('truetype'),
			url('../fonts/RobotoCondensed-Bold.eot') format('embedded-opentype');
		font-weight:normal;
		font-style:normal;
}		

@font-face{
		font-family:'Roboto-Medium';
		src:url('../fonts/Roboto-Medium.ttf') format('truetype'),
			url('../fonts/Roboto-Medium.eot') format('embedded-opentype');
		font-weight:normal;
		font-style:normal;
}	
@font-face{
		font-family:'Roboto-Regular';
		src:url('../fonts/Roboto-Regular.ttf') format('truetype'),
			url('../fonts/Roboto-Regular.eot') format('embedded-opentype');
		font-weight:normal;
		font-style:normal;
}		
body {
	background-color: #fff;
	font-family: 'Roboto-Medium', sans-serif;
	font-size:12px;
	font-weight: 400; 
	line-height: 20px;
}
p{
	font-family: 'Roboto-Regular', sans-serif;
	font-size:12px;	
	margin:0;
}

/*headings*/
h1,h2,h3,h4{
	font-family:'Roboto-Bold';
}

h2{
	font-size: 23px;
	color: #666666;
}
h4{
	color:#0078c1;
	font-size: 17px;
}

/* header*/
#top-header{
	background: url(../img/bg-header.png) repeat-x;
	
}
#logo{
	float:left;
	padding:0 10px;
}
#left-part-header{
	font-family: 'Roboto-Bold', serif;
	font-size:1em;
	color: #555555;
	padding:5px 35px 0;
}
#right-part-header{
	color: #0078c1;
	float:right;
	font-size:1em;
	padding:5px 0;
	font-family: 'RobotoCondensed-Bold', serif;
}
#right-part-header ul{
	color: #000;
	display: inline;
	font-family:'Roboto-Medium';
	font-size: 0.875em;
}
#right-part-header ul li{
	display: inline-block;
	list-style: none;
}
#right-part-header ul li a{
	color: #000;
	text-decoration:none;
}
/*navbar*/
.navbar-inner{
	font-family: 'Roboto-Bold', serif;
	font-size: 1em;
	color:#555555;
	margin:6px 0;
	text-shadow:none;
	border-radius:7px; 
} 
.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle{
	background-color: #038ad5;
	color: #FFFFFF;
	border:none;
	text-shadow:none;
	
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
    background-color: #999999;
    color: #FFFFFF;
}
/* container*/
.container{
	max-width:964px;
	min-width:240px;
	margin:0 auto;
}	

/*slider*/
.rsGCaption{
	display: none;
}
#slider{
	position:relative;
	top:-5px;
}
.royalSlider{
	width: 100%;
}
/*tabs*/
#tabs{
	position: absolute;
	top:30%;
	left:25%;
}
.nav-tabs{
	margin:0;
	font-family: 'Roboto-Bold', serif;
	font-size:1em;
	border:none;
}
.nav-tabs li{
	background: url(../img/button-nav.png) no-repeat;
	border:none;
	width:179px;
	padding:0;
	height:48px;
}
.nav-tabs li a{
	  padding:0;
	  width:179px;
	  height:48px;
	  text-align:center;  
	  font-size:10px; line-height:30px; 
}


.nav-tabs li:hover > a {
	background: url(../img/button-nav-h.png) no-repeat;
	border:none;
	width:179px;
	height:48px;
	padding:0;
	color:#FFFFFF;
	
}
.nav-tabs > .act> a {
	background:  url(../img/button-nav-a.png) no-repeat;
	border: none;
	width:179px;
	height:48px;
	padding:0;
	color:#FFFFFF;	
}
#tabsb {
	background: url(../img/tabs-b.png) repeat-x;
}

.tab-content{
	opacity: 0.96;
    background: url(../img/bg-tabs.png) repeat-x;
    border-left: 1px solid #D4D4D4;
    border-right: 1px solid #D4D4D4;
    padding:10px 35px;
}
.tab-pane h1{
	color: #555555;
	font-family: 'Roboto-Bold', serif;
	font-size: 1.9em;
}
.btn-search{
	color: #fff;
	background: url(../img/bg-btn-search.png) repeat-x;
	height:30px;
	border: none;
}
.btn-search:hover{
	background-color: #0060a4;
}
.btn-search .icon-search{
	padding:5px 10px;
}
/*main*/
h2 span{
	float:right;
	font-size:13px;
	
}
h2 a, h2 a:hover{
	text-decoration:none;
}
.span6 h2{
	padding:0 30px;
}

.span6-main{
	border-radius:7px;
	border:1px solid #dddddd;
	background-color: #fafafa;
	height: 650px;
}
.span6-main hr{
	margin: 0 20px;
}
.media-box{
	padding:20px;
}
.media-heading {
	margin:0;
}
.title{
	text-align:center;
	color:#999999;
	font-size: 34px;
	padding:10px;
	
}
.separator{
	border:1px solid #dddddd;
	margin-left:24px;
	margin-top:20px;
	margin-bottom:20px;
}
.subtitle{
	color: #003164;
	font-size:25px;
	padding:10px 0;
	line-height: 26px;
}
.text{
	padding:10px;
}
.box{
	text-align:center;
	border-right: 1px solid #dddddd;
	padding:20px;
	margin:30px 0;
	height:400px;
}
.span4-main{
	margin:-10px 0;
}
.btn-large{
	margin: 20px 0;
}
.cities{
	font-size: 14px;
	font-family:'Roboto-Bold';
}

/*  footer */
#footer{
	padding:30px;
}
#title-footer{
	padding:5px 20px;
}
#footer .separator{
	margin-left:0;
	margin-right:20px;
}
.border{
	border-right:1px solid #DDDDDD;
	height:160px;
}
.border p a{
	color: #000;
}
.text-copyright{
	text-align:center;
	padding:20px 0;
} 
/*  responsive */
@media (max-width: 979px) {

}
@media (max-width: 768px) {

}
@media (max-width: 767px) {

}
@media (max-width: 480px) {

}


@media (max-width: 320px) {

}