/* Page styling */

section {
	width: 200px;
	margin: 50px auto;

}

section h1 {
	font-size: 28px;
	text-align: center;
}

section ol li {
	padding: 4px 4px;
}

section ol a {
	text-decoration: none;
	color: black;
	font-family: sans-serif;
	font-size: 14px;

}

section ol a:hover {
	color: orange;
}