@charset "utf-8";
/* CSS Document */

#mainContentUp .cell.title h2 {
 font-size: 40px;
 font-weight: bold;
}

#mainContentUp .cell.title h3 {		
 font-size: 20px;
 font-weight: normal;
}

#mainContentUp .firstWord {
 font-weight: normal;
}

#timer_days {
  letter-spacing: 10px;
}

#timer_hours {
  letter-spacing: 12px;
  padding-left: 10px;
}

#timer_mins {
   letter-spacing: 13px;
   padding-left: 10px;
}

#timer_seconds {
   letter-spacing: 13px;
   padding-left: 10px;  
}

#timer_mins,
#timer_seconds {
	margin-left: -5px;
}