@charset "utf-8";
/*Eat Sleep Wood Design*/

/*=reset CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/*=end reset*/


/*=font styles*/
@font-face { 
 font-family: HelveticaNeuel; 
 src: url('../HelveticaN/HelveticaNeueLTStd-BdCn.otf'); 
}

@font-face { 
 font-family: HelveticaNeuelSlim; 
 src: url('../HelveticaN/HelveticaNeueLTStd-LtCn.otf'); 
}

@font-face {
 font-family: AlfaSlabOne-Regular;
 src: url('../FONTS/AlfaSlabOne-Regular.ttf');
}

@font-face {
 font-family: BebasNeue;
 src: url('../FONTS/BebasNeue.otf');
}


/*facebook*/
.fb-like {
 margin-top: 53px;
}

/*=header*/
#header {
 width: 100%;
 height: 57px;
 background: url(../images/headerBackground.jpg) repeat-x;
}

/*=headerInner*/
#headerInner {
 position: relative;
 width : 1026px;
 height: 28px;
 margin: 0 auto;
 background: url(../images/headerInnerBackground.jpg) repeat-x;
}

#headerInner img {
 position: absolute;
 top: 27px;
}

#headerInner img {
 right: 0;
}

#headerInner img:first-child {
 left: -1px;
}


/*=main*/
#main {
 width: 100%;
 height: 588px;
 background: url(../images/mainSlice.jpg) repeat;
 border-top: 1px solid #f26600;
 position: relative;
 z-index: 1000;
}
/*=end main*/

/*=mainInner*/
#mainInner {
 width: 980px;
 height: 644px;
 margin: 0 auto;
 background: url(../images/mainInnerSlice.jpg) repeat-x;
 margin-top: -30px;
}

/*=mainContentUp*/
#mainContentUp .cell {
 float : left;
 margin: 120px 0 0 50px;
}

#mainContentUp .cell.logo h1 a{
 text-indent: -9999px;
 background: url(../images/logo.png) no-repeat;
 width: 358px;
 height: 172px;
 display: block;
}

#mainContentUp .cell.title h2 {
 font-family: 'HelveticaNeuel', Helvetica, sans-serif;
 font-size: 46px;
 color: #772f00;
}

#mainContentUp .firstWord,
#mainContentUp .cell.title h3 {
 font-family: 'HelveticaNeuelSlim', Helvetica, sans-serif;
 color: #261000;
}

#mainContentUp .cell.title h3 {
 font-size: 22px;
}

/*=footer*/
#footer {
 width: 100%;
 height: 111px;
 background: url(../images/footerSlice.jpg) repeat-x; 
 border-top: 1px solid #CCCCCC;
}

#footerInner {
 width: 1026px;
 height: 60px;
 margin: 0 auto;
 background: url(../images/footerInnerSlice.jpg) repeat-x;
 margin: 24px auto 0;
 position: relative;
}

#footerInner img {position:absolute;}

#footerInner img{
 top: -18px;
 right: 0px;
}

#footerInner img:first-child {
 top: -19px;
 left: 0px;
}

.smallLogo {
 display: block;
 text-indent: -10000px;
 width: 63px;
 height: 18px;
 float: left;
 background: url(../images/logoSmall.png) no-repeat;
 margin: 17px 0 0 117px;
}

#footer .link {
 font-family: 'AlfaSlabOne-Regular';
 font-size: 13px;
 color: #fff;
 margin: 16px 0 0 16px;
 float: left;
}

#footer .copyright {
 float: right;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 11px;
 color: #fff;
 margin: 18px 112px 0 0;
}


/*=the timer=*/
html, body {
	margin:0;
	padding:0;
}

#wrapper {
	margin:0 auto;
	width:1100px;
	padding-top:350px;
	*padding-top: 50px;
	margin-left: 50px;
}

/* timer general */
#timer {
	position:relative;
}


*:first-child+html hr {
	top:370px;
}


/* timer numbers */
.timer_numbers {
	font-size:100px;
	font-family: 'BebasNeue', Arial, Helvetica, sans-serif;
	font-size: 128px;
	line-height: 120px;
	text-align:left;
    color: #acacac;
}

#timer_days {
	background: url(../images/backgroundDays.png) no-repeat;
	float:left;
	width:285px;
	height:160px;
	padding:10px 0 0 18px;
	letter-spacing:35px;
	position: relative;
}

#timer_hours {
	background:url(../images/backgroundHours.png) #ffffff no-repeat;
	float:left;
	width:197px;
	height:160px;
	padding:10px 0 0 18px;
	letter-spacing:30px;
	margin-left: -12px;
}


#timer_mins {
	background:url(../images/backgroundMinutes.png) #ffffff no-repeat;
	float:left;
	width:197px;
	height:160px;
	padding:10px 0 0 18px;
	letter-spacing:35px;
	margin-left: -12px;
}

#timer_seconds {
	background:url(../images/backgroundSeconds.png) #ffffff no-repeat;
	float:left;
	width:173px;
	height:160px;
	padding:10px 0 0 22px;
	letter-spacing: 30px;
	margin-left: -12px;
}