@charset "utf-8";
/* CSS Document */

/*Styles for IE 8*/

#mainContent li ul{/*the secondary ul from the drop menu - align top correction*/
 top: 30px;
}

#mainContent #menu>ul>li {/*the bottom padding of li increased, so the mouse wont leave the li when going to the secundary ul*/
 padding-bottom: 7px;
}

/*the register button*/
#registerOut {
 position: absolute;
 right: 41px;
 bottom: 0; 
 height: 40px;
 width: 216px;
 background: url(../images/bg/registerOutIE8.png) no-repeat 0 0; /*border radius replaced by image with round corners*/
 border: none;
}

#registerIn {
 position: absolute;
 bottom: 6px;
 height: 40px;
 width: 214px;
 background: url(../images/bg/registerInIE8.png) no-repeat;	/*border radius replaced by image with round corners*/
 border: none;
 
}
/*end of the register button*/


/*up content*/
.inner {border: none;}

.upContent .cell {
 border: none;
 background-color: #fafafa;
 margin-top: 42px;
}

.upContent .cell.left,
.upContent .cell.center,
.upContent .cell.right{position: relative;}

.cell.left .inner,
.cell.right .inner,
.cell.center .inner {
 position: absolute;
 top: -3px;	
 width: 280px;
}

.upContent .cell.left {background: url(../images/bg/leftOuter.png) no-repeat;}                     /*images with round corners */
.cell.left .inner{background: url(../images/bg/leftInner.png);}									
																								
.upContent .cell.center {background: url(../images/bg/centerOuter.png) no-repeat;}					
.cell.center .inner {background: url(../images/bg/centerInner.png) no-repeat;}						
																								
.upContent .cell.right {background: url(../images/bg/rightOuter.png) no-repeat;}					
.cell.right .inner {background: url(../images/bg/rightInner.png) no-repeat;}						/*replacing border radius   */

/*end of upContent*/

/*membership page*/
.package .cell.features .header {
 background: url(../images/bg/featuresBackground.png) no-repeat #fafafa;
}
.package .cell.silver .header {
 background: url(../images/bg/silverBackground.png) no-repeat #fafafa;
}
.package .cell.premium .header {
 background: url(../images/bg/premiumBackground.png) no-repeat #fafafa;
}


.package .cell.gold {-ms-behavior: url(PIE.htc);}
/*end membership*/


/*sign up buttons*/
.package .cell.silver .signUp button,
.package .cell.premium .signUp button {
 background: url(../images/bg/signUpIEOff.png) no-repeat;
}

.package .cell.gold .signUp button{
 background: url(../images/bg/signUpIE.png) no-repeat;
}

.package .cell.silver .signUp button,
.package .cell.premium .signUp button,
.package .cell.gold .signUp button {width: 152px; height: 39px;}

/*end sign up buttons*/