@charset "utf-8";
/* CSS Document */

/*===============================
  Golf Manager Project Styles
=================================*/


/*Including Calibri Font*/
@font-face { font-family: CustomCalibri; src: url('fonts/CALIBRI.TTF'); } 


/*================================
  General Resets and Common Styles
==================================*/

html, body {
 margin: 0;
 padding: 0;
}

body {
 background: url(../images/bg/bodyBackground.jpg) repeat #f7e8fa;
 font-family: Calibri, CustomCalibri;
}

.container {
 width: 900px;
 margin: 0 auto;
 padding: 0;
}

/*===============================
  =social
=================================*/
#social {
 position: fixed;
 top: 264px;
 right: 33px;
 z-index: 1000;
}

#social img {
 border: none; /*removes the unwanted border from internet explorer*/ 
}

#social a {
 display: block;
}

#social img:hover {/*social media icons react at mouse over*/
 -moz-transform: scale(1.2);                                  /*firefox*/
 -webkit-transform: scale(1.2);								  /*opera*/	
 -ms-zoom: 1.2;													  /*internet explorer 8*/	 	
}


/*===============================
  =top
=================================*/

#top {
 height: 25px;
 width:100%;	 
 background: url(../images/bg/topBackground.jpg) repeat-x #26272a;
 border-bottom: 1px dashed #a4afa5;
}

#top ul {
 list-style-type: none;
 margin: 0 ;
 padding: 0;
 float: right;
}

#top li {
 float: left;
 font-size: 14px;
 margin-top: 3px;
}

#top a {
 color: #ffffff;
 text-decoration: none;
}

#top a:hover {
 text-decoration: underline;
}

#top li:after {
 content: '|';
 padding: 0 10px;
 font-size: 14px;
 color: #8f9091;
}

#top li:last-child:after { /*removes the separator after last element of the list*/
 content: '';
 content: none;
}


/*===============================
  =nav
=================================*/
#nav h1 {
 text-indent: -9999px;
 padding: 0;
 margin: 10px 0 0 0;
}

#nav h1 a {/*the link containing the logo*/
 background: url(../images/logos/logo.png) no-repeat;	
 display: block;
 width: 297px;
 height: 107px;
}


/*===============================
  =mainContent
=================================*/
#mainContent {
 height: 1168px;
 background-color: #FAFAFA;
 margin: 0 auto;
 width: 900px;
 border: 1px solid #e2e1e1;
 padding-top: 2px;
}

#mainContent .container {
 width: 894px;
}

/* =menu*/
#mainContent #menu {/*the div containing the menu*/
  background: url(../images/bg/menuBackground.jpg) repeat-x #26272a;
  width: 100%;
  height: 31px;
  margin-bottom: 3px;
  position:relative;
}

#mainContent ul { /*general styles for all the ul-s from the menu*/
 list-style-type: none;
 padding-left: 0;
}

#mainContent ul a {/*all the links from the menu*/
 font-size: 15px;
 color: #fff;
 text-decoration: none;
}

#mainContent ul a:hover {/*all the links on mouseover*/
 color: #f6ce49;
}

#mainContent #menu>ul>li { /*first line of the menu*/
 float: left;
 padding: 7px 15px 0 0;
}


#mainContent #menu>ul { /*main menu*/
 margin: 0 0 0 20px; 
}

#mainContent li ul { /*the drop down list*/
 position: absolute;
 top: 25px;
 margin: 0 0 0 -22px;
 padding: 25px 0 0 22px;
 line-height: 24px;
 height: 110px;
 width: 115px;
 background: url(../images/bg/dropDownBackground.png) no-repeat;
 border-top: 5px solid rgba(0,0,0,0);
 display: none;
 z-index: 1000;
}

#mainContent li ul a {
 color: #eeeded;
}

#mainContent #menu>ul>li:hover>ul {/*the drop down menu will be displayed even if JavaScript is off*/
 display: block;
}

#mainContent .show {/*the class that activates on mouseover from jQuery*/
 display: block;
}


.subMenu {
 background: url(../images/bg/subMenuBackground.jpg) repeat-x #eaeaea;
 height: 370px;
 border-top: 1px solid #fff;
 border-bottom: 1px solid #fff;
}

.subMenu .cell {
 height: 303px;
 float: left;
 margin: 37px 0 30px 0;
 position: relative;
}

.subMenu .cell.title {
 border-right: 1px solid #d5d5d5;
 width: 455px;
}

.cell.title h1 {
 text-indent: -9999px;
 background: url(../images/content/mainTitle.png) no-repeat;
 height: 84px;
 width: 391px;
 margin: 0 28px 30px 20px;
 padding: 0;
}

.cell.title p {
 padding: 0;
 margin: 0 27px 0 20px;
 font-size: 14px;
 line-height: 24px;
 color: #444;
 width: 400px;
 hyphens: auto;
}

#registerOut,
#registerIn,
.cell.title a {
 width: 212px;
 border-radius: 7px;
 /*behavior: url(PIE.htc);*/   /*round corners in IE8*/
}

.cell.title a {
 display: block;
 height: 41px;
 text-decoration: none;
 font-weight: bold;
 font-size: 24px;
 color: #fff;
 text-align: center;
 padding-top: 7px;
}

#registerOut {
 position: absolute;
 right: 41px;
 bottom: 0; 
 height: 43px;
 border: 1px solid #efefef;
 background-color: #1575d8;
}

#registerIn {
 height: 37px;
 border-bottom: 1px solid #71aae6;
 background-color: #4096ee;
}

/*=Slider*/
/*slider created for JavaScript disabled, it will be modified from jQuery*/
#photosSlider {/*the div containing the photos*/
 width: 358px;
 height: 243px;
 overflow: scroll;
 position: relative;
 z-index: 9999;
 margin-left: 34px;
}



#controls ul {/*the controls of the sliders*/
  list-style-type: none;
  padding: 0;
  margin: 20px 0 0 188px;
}

#controls li {
  float: left;
  display: block;
  width: 16px;
  height: 16px;
  text-indent: -9999px;
  background: url(../images/content/off.png) no-repeat;
  margin-right: 10px;
}


#controls li:hover {
  background: url(../images/content/hover.png) no-repeat;
  cursor: pointer;
}

/*==End Slider*/


.textM h4,
.textG h4,
.textM p,
.textG p {
 font-family: Arial, Helvetica, sans-serif;
}

.textM h4,
.textG h4 {
 font-size: 20px;
 font-weight: normal;
 color: #000000;
 margin: 45px 0 25px 17px;
}

.textM p,
.textG p {
 font-size: 14px;
 margin: 0 0 57px 17px;
 width: 860px;
}

/*membership offers*/
.container.package .cell {
 width: 220px;
 float: left;
 margin-top: 17px;
 border-radius: 5px;
 overflow: hidden;
 margin-left: -5px;
}


.package .cell .header {
 text-align: center;
 height: 74px;
 background-color: #FAFAFA;
}

.package .cell.features .header {
 background: url(../images/bg/featuresBackground.jpg) repeat-x;
}

.package .cell.silver .header,
.package .cell.premium .header {
 background: url(../images/bg/membershipPackage.jpg) repeat-x;
}
.package .cell.gold .header {
  height: 98px;
  background: url(../images/bg/gold.png) no-repeat;
 }

 
.package .cell.gold p.ug {
  padding-top: 10px;
 }

.package .cell p{
 text-align: center;
 margin: 0;
 padding: 17px 0;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 14px;
 height: 18px;
 color: #797979;
}

.package .cell h3 {
 font-family: Arial, Helvetica, sans-serif;
 font-weight: bold;
 font-size: 22px;
 color: #fff;
 padding-top: 7px;
 margin: 0;
}

.package .cell.features h3 {
 padding: 15px 0 0 55px;
 color: #e0e0e0;
 width: 100px;
}

.package .cell h2 {
 font-family: Arial, Helvetica, sans-serif;
 margin: -7px 0 0 0;
 padding: 0;
 color: #ffffff;
 font-size: 46px;
 position: relative;
}

.currency {
 font-size: 24px;
 position: absolute;
 top: 5px;
 left: 30px;
}

.silver .currency {
 left: 45px;
}

.gold .currency {
 font-size: 26px;
 left: 35px;
}

.period {
 font-size: 16px;
}

.gold .period {
 font-size: 20px;
} 

.package .cell.gold h2 {
 font-size: 50px;
}

.package .cell .signUp,
.package .cell .arrow {
 height: 90px;
}

.package .cell .arrow img {
 margin: 12px 0 0 75px;
}

.package .cell.gold .signUp {
 height: 103px;
}

.package .cell .signUp button {
  width: 150px;
  height: 38px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  border-radius: 20px;
  border: 0px;
  margin: 32px 0 0 32px;
  box-shadow: 0 11px 14px -12px #BEBEBE;
}

.package .cell.silver .signUp button,
.package .cell.premium .signUp button {
 background: url(../images/bg/signUpOff.jpg) repeat-x #525252;
}

.package .cell.gold .signUp button{
 background: url(../images/bg/signUp.jpg) repeat-x #cc3420;
}

.package .cell .signUp button:hover {
 cursor: pointer;
}

.package .cell.features {
 margin-left: 16px;
 background-color: #cbcbcb;
}

.package .cell.features p {
 border-color: #a2a2a2;
 color: #464646;
}

.package .cell.gold {
 width: 214px;
 margin-top: 0px;
 background-color: #ffffff;
 position: relative;
 z-index: 100;
 box-shadow: 0 0 10px 3px #c7c7c7;

}

.package .cell.gold p {
 border-color: #dadada;
}

.package .cell.silver {
 box-shadow: 0 0 10px 3px #adadad;

}

.package .cell.silver,
.package .cell.premium {
 background-color: #e0e0e0;
}

.package .cell.silver p,
.package .cell.premium p{
 border-color: #ffffff;
}

.package .cell p {
 border-bottom: 1px solid;
}

/*end membership offers*/


/* the gallery */
.gallery {
 /*padding-left: 30px;*/
 padding-left: 130px;
}

.gallery .cell {
  float: left;
  height: 480px;
  width: 100px;
}

.fields {
 overflow: scroll;
}

.fields ul {
 list-style-type: none;
 margin: 0;
 padding: 0;
 height: 480px;
 width: 3000px;
}

.fields ul li {
 float: left;
}

.gallery .cell.fields {
 width: 640px;
}

#leftImg,
#rightImg {
 margin-top: 190px;
}

#leftImg:hover,
#rightImg:hover {
 cursor: pointer;
}

.gallery .cell.leftControl,
.gallery .cell.rightControl {
 display: none;
}


/* end of the gallery*/


/*end of subMenu*/


.upContent {
 height: 187px;
 background-color: #fafafa;
 border-top: 1px solid #dedede;
}

.upContent .cell {
 float: left;
 width: 280px;
 height: 88px;
 border: 1px solid #fff;
 border-radius: 7px;
 margin: 40px 0 0 8px;
}

.inner {
 height: 85px;
 border-radius: 7px;
 border-bottom: 1px solid #fff;
 position: relative;
}

.upContent .cell.left {
 margin-left: 21px;
 background-color: #97c812;
}
.cell.left .inner {background: url(../images/bg/innerLeft.jpg) repeat-x #97c812;}

.upContent .cell.center {
 background-color: #1b72b2;
}
.cell.center .inner {background: url(../images/bg/innerCenter.jpg) repeat-x #1b72b2;}

.upContent .cell.right {
 background-color: #d25a02;
}
.cell.right .inner {background: url(../images/bg/innerRight.jpg) repeat-x #d25a02;}

.inner img {
 position: absolute;
 top: -23px;
 left: -8px;
 float: left;
}

.inner h4 {
 margin: 0 0 0 110px;
 padding: 12px 0 0 0;
 font-size: 21px;
 font-weight: bold;
 color: #fff;
 width: 165px;
}

.inner p {
 margin: 0 0 0 110px;
 padding: 0;
 font-size: 14px;
 font-weight: bold;
}
.cell.left .inner p {color: #638400;}
.cell.center .inner p {color: #05478c;}
.cell.right .inner p {color: #b04100;}

.cell.center .inner h4 {
 padding-top: 27px;
}
/*end of upContent*/

.middleContent {
 height: 450px;
 background-color: #fafafa;
 border-bottom: 1px solid #e2e1e1;
 position: relative;
}

.middleContent .banner {
 background: url(../images/content/banner.png) no-repeat;
 width: 278px;
 height: 45px;
 position: absolute;
 left: -10px;
}

.middleContent .cell{
 width: 403px;
 height: 142px;
 float: left;
 margin: 58px 20px 0;
}

.middleContent .cell h4 {
 margin: 0;
 padding: 0;
 color: #555555;
 font-size: 20px;
 font-weight: normal;
}

.middleContent .cell img {
 margin: 10px 0 0 0;
 padding: 0;
 float: left;
}

.middleContent .cell p {
 font-size: 16px;
 color: #555555;
 margin:5px 0 0 9px;
 padding-left: 0;
 float: left;
 width: 230px;
}

.middleContent .cell a {
 text-decoration: none;
 font-size: 14px;
 color: #4096ee;
 display: inline-block;
 float: left;
 margin-top: 8px;
}

.middleContent .cell a:hover {
 color: #00C;
}

.middleContent .cell a img {
 border: none;
 float: right;
 margin: 3px 0 0 7px;
}
/*end of middleContent*/

.bottomContent {
 background-color: #fafafa;
 height: 124px;;
}

.bottomContent .cell {
 margin: 26px 0 0 20px;
 float: left;
 border-right: 1px solid #d7d7d7;
 width: 200px;
 height: 62px;
 position: relative;
}

.bottomContent .cell:last-child {
 border: none;
}

.bottomContent .cell.schools {      			  /*removes the right border in IE*/
 border: none;							      /*IE doesn't support :last-child*/	
}

.bottomContent .cell h3 {
 text-indent: -9999px;
 margin: 13px 0 0 0;
 padding: 0;
}

.bottomContent .cell p {
 font-family: Arial, Helvetica, sans-serif;
 font-size: 12px;
 color: #343434;
 position: absolute;
 top: 29px;
}

.bottomContent .cell.videos p {left: 57px;}
.bottomContent .cell.photos p {left: 62px;}
.bottomContent .cell.news p {left: 52px;}
.bottomContent .cell.schools p {left: 51px;}

.bottomContent .cell h3 a{
 display: block;
 width: 172px;
 height: 46px;
}

.bottomContent .cell.videos h3 a{
 background: url(../images/content/bottom1.png) no-repeat;
}
.bottomContent .cell.videos h3 a:hover{
 background: url(../images/content/bottom11.png) no-repeat;
}

.bottomContent .cell.photos h3 a{
 background: url(../images/content/bottom2.png) no-repeat;
}
.bottomContent .cell.photos h3 a:hover{
 background: url(../images/content/bottom22.png) no-repeat;
}

.bottomContent .cell.news h3 a{
 background: url(../images/content/bottom3.png) no-repeat;
}
.bottomContent .cell.news h3 a:hover{
 background: url(../images/content/bottom33.png) no-repeat;
}

.bottomContent .cell.schools h3 a{
 background: url(../images/content/bottom4.png) no-repeat;
}
.bottomContent .cell.schools h3 a:hover{
 background: url(../images/content/bottom44.png) no-repeat;
}

/*end of bottomContent*/
/**=== end of mainContent ===*/

/*===============================
  =footer
=================================*/

#footer {
 width: 100%;
 height: 139px;
 background: url(../images/bg/footerBackground.jpg) repeat-x #3d4041;
 border-top: 1px dashed #1f1f1e;
}

.footerCell {
 width: 200px;
 float: left;
 margin-left: 22px;
 padding-top: 14px;
}

#footer p,
#footer h3 {
 margin: 0;
 padding: 0;;
}

#footer img {float: left;}

#footer h2 {
 background: url(../images/logos/logo2.png) no-repeat;
 text-indent: -9999px;
 width: 152px;
 height: 44px;
 margin-left: 3px;
}

#footer h3 {
 color: #faed75;
 border-bottom: 1px solid #727677;
 padding: 0 0 2px 3px;
 font-size: 18px;
 font-weight: normal;
}

#footer p {
 font-size: 14px;
 color: #fff;
 margin: 3px 0 22px 3px;
}

#footer ul {
 list-style-type: none;
 margin: 3px 0 0 3px;
 padding: 0;
}

#footer li {
 line-height: 23px;
}

#footer a {
 font-size: 14px;
 color: #ffffff;
 text-decoration: none;
}

#footer a:hover {
 text-decoration: underline;
}
/*end of footer*/