@font-face {
  font-family: 'Georgia';
  src: url('../font/Georgia.eot');
  src: url('../font/Georgia.eot?#iefix') format('embedded-opentype'),
  url('../font/Georgia.woff') format('woff'),
  url('../font/Georgia.ttf') format('truetype'),
  url('../font/Georgia.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


/*===============================
  =home page
  =================================*/
  body{
    background-color: #88806b;
    color: #fff;
    font-size: 12px;
    background-image:url('../img/bg.jpg');
    background-repeat:no-repeat;
    background-position:50% 50%;
    font-family: Georgia, Times, "Times New Roman", serif;
  }

  .container{
    max-width: none !important;
    width: 970px !important;
  }

  /*headings*/
  h1, h2, h3, h4, h5, h6{
  	color: #fff;
  }
  a, a:hover{
    color: #fff;
  }
  h2{
    margin: 10px 0;
  }
  #logo{
    padding:30px 0;
    float: left;
  }
  #contact{
    float: right;
    padding-top: 40px;
    padding-right: 70px;
  }
  #social{
    float: right;
    padding: 10px 20px;
  }
  #social li a{
    margin-top: -10px;
    padding: 10px 0;
  }
  #social li a:hover{
    background: transparent;
  }
#text-slider{
  margin:20px 80px;
  background: rgba(120, 110, 94, .7);
}
#text-slider h2{
  color: #fff;
  padding: 20px;
}
 #text-slider .btn-group{
  padding:0 20px 20px;
 }
 .btn-default{
  color: #234762;
  background: url('../img/btn.jpg')repeat-x;
  height: 29px;
 }
  /*nav*/
.nav-justified .activate{
  color: #f2f3eb;
  font-weight: bold;
}
.nav-justified {
  border-left: 1px solid #0a0a0a; 
  border-top: 1px solid #0a0a0a;
  border-right: 1px solid #0a0a0a;
  border-bottom: 1px solid #474747 !important;

}

.nav-justified li a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    padding: 16px 6px;
    background-color: #234762;
    border-right: 1px solid #2b2b2b;
    border-radius: 0 !important; 
}
.nav-justified li a:hover{
   background-color: #88806b;
}
.dropdown-menu {
  background-color: #234762;
  border-radius: 0;
}
.dropdown-menu li a {
  background-color: #234762;
  color: #fff;
  padding: 0 20px 0 20px;
  font-size: 14px;
}
.nav-tabs.nav-justified>li>a{
  border-bottom: none;
}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus{
  background-color: #234762;
}

#first-part{
  background-color: #f4f4f4;
  height: 30px;
}
#separator1, #separator2{
  width: 100%;
}
#separator1{
  margin-top: -10px;
}
#second-part{
  background-color: #f2f3eb;
  padding: 0 50px;
}
.media-heading{
  font-size: 26px;
  color: #1c1c1c;
  margin: 0;
  padding: 20px 0;
}

#main-content{
  background-color: #ffffff;
  padding: 0 50px;
  border-bottom: 4px solid #0e0e0e;
}
.details{
  color: #646464;
  line-height: 20px;
  margin-top: -10px;
}
.details2{
  color: #646464;
  line-height: 20px;
}
.details3{
  color: #646464;
  font-size: 12px;
}
.details3 img{
  padding-right: 10px;
}
#main-content hr{
  margin-top: 0;
}
.title-events{
  color: #373737;
}
.subtitle{
  color: #656565;
  font-size: 12px;
  font-weight: bold;
}
.subtitle-right{
  color: #656565;
  font-size: 14px;
  font-weight: bold;
}
.text{
  padding: 15px 0;
  height: 78px;
  color: #636363;
  line-height: 20px;
}
.more {
   padding: 20px 0;
}
.more a{
  color: #234762;
  font-size: 12px;
}

.details{
  line-height: 18px;
}

footer{
  padding: 10px 0;
}
footer p, footer a{
  font-size: 12px;
  color: #1c1d1c;
}