@charset "utf-8";

.container {
    margin: 0 auto;
    max-width: 1020px;
    min-width: 240px;
}
body{
	background-color: #fff;
	color:#575757;
	font-size: 62.5%;
}

/*header part*/
header{
	background:url(../img/bg-header.png)repeat-x;
	position: relative;
}

#top img{
	padding:0 40px; 	
}

.brand img{
	position: absolute;
	top: 54px;
	left:20%;
}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    zoom:1;  /* hasLayout ie7 trigger */	 
}

.nav-tabs, .nav-pills {
    text-align:center;
    border-bottom: none;
}

.nav-tabs{margin-top: 54px;}
.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus{background-color: #2d2c2b; border: none;}
.nav-tabs li{ margin: 0;padding: 0; border: none;  height: 40px;}
.nav-tabs li a{background-color: #8aaeb7;}

#social{
	position: absolute;
	bottom: 0;
	right: 15%;	
}
#social p{
	padding-top: 10px;
	padding-bottom: 10px;
}

/*container*/
#main2{
	background: url(../img/bg-container.png);
}

/*tab1*/
/*begin left part*/
#tab1{padding: 10px 40px;}
#tab1 h1{font-size: 1.7em;}
.form{
	position: relative;
	width: 72px;
	height: 63px;
}
.price{
	position: absolute;
	font-size: 2.4em;
	color:#293943;
	top: 23px;
	left: 17px;
	font-weight: bolder;
	font-family:'Georgia';
}
.title-price{
	text-transform: uppercase;
	font-size: 1.1em;
	color: #4e4e4e;
	font-family: 'Helvetica';
	font-weight: bold;
}
#details .title-price{
	text-transform: none;
	color: #6b6b6b;
}
.details{
	font-size: 1em;
	text-transform: uppercase;
	font-weight: bold;
	padding:0 20px ;
	text-align:left;
}
.details span{padding: 0 15px;}

#btn img{
	margin: 30px 0 10px;
}
#text{
	font-size: 1.25em;
	color: #575757;
}
.read-more{
	font-size: 1.2em;
	font-weight: bold;
}
.read-more a{
	color: #7ca4ae;
}
#pull-right{
	position: relative;
}
#tag{
	position: absolute;
	top: 20px;
	right: 70px;
}
#rating{
	padding: 10px 0;
}
#rating a {
	color: #8d8d8d;
	font-size: 1.1em;
	padding-top: 10px;
}
#gratuita{
	padding:10px 0;
	color: #8d8d8d;
	font-size: 1.3em;
	font-style: italic;
}

/*end left part*/
/*begin right part*/
.right-part{
	padding: 60px 40px 0;
}
.text{
	width: 90%;
}
.poz{
	left:10px;
}
.poz2{
	left:25px;
}
.icon-play{
	color: #45707c;
	font-size: 1.8em;
}
.media-heading a {color: #7ca4ae;}
.border{
	border:2px solid #ddccb6;
}
#operating{
	font-size: 1.2em;
	padding: 30px 0;
}
#operating a{
	color: #8aaeb7;
}

/*footer*/
footer{
	background: url(../img/bg-footer.png)repeat-x;
	padding: 20px 0;	
}
footer .poz{
	padding: 0 40px;
}
footer h1{
	color: #444444;
	font-size: 1.7em;
	margin: 0;
	padding: 0 40px;
}
.footer{
	border: 3px solid #d1d9d9;
	border-radius:4px;
}
.footer-main{
	background: url(../img/bg-footer-main.png);	
	padding: 25px 17px;
	border: 1px solid #a5b1b1;
	border-radius:4px;
	height: 235px;
}
.img{
	float: left;
}
.footer .form{
	position: relative;
	right: -5%;
	width: auto;
	height:auto;
}
.footer .form .price{
	position: absolute;
	font-size: 2.4em;
	color:#293943;
	top: 24px;
	left: 105px;
	font-weight: bolder;
	font-family:'Georgia';
}
.footer .form .experts a{
	position: absolute;
	top: 65px;
	left: 97px;
	color: #7ca4ae;
	font-weight: bold;
	font-size: 1.1em;
	text-transform: uppercase;
}
		
.footer .title{
	color: #444444;
	font-size: 1.4em;
	font-family: 'Helvetica';
	font-weight: bold;
	padding-top: 30px;
}		
.footer .subtitle{
	color: #8d8d8d;
	font-size: 1.2em;
	font-family: 'Helvetica';
	margin: 0;
}
#poz{
	left: 110px;
}

/*  responsive */
@media only screen and (min-width : 780px) {
	#hide, #details-mobile{
		display:none;
	}
	.details span {
		padding: 0;
	}
}

@media (max-width: 979px) {

}
@media (max-width: 768px) {

}
@media (max-width: 767px) {

}
@media (min-width: 220px) and  (max-width: 766px) {
body{
	padding: 0;
}
.brand img{
	position: relative;
	left:40%;
}
#tab1 {padding: 0;}
	
#hide{
	color:#444444;
	font-size: 1.4em;
	padding: 0 20px;
	margin-top: -50px;
}
#btn img{float:left; padding-left: 20px; padding-right: 10px;}
#details-mobile{
	padding:20px 0;
}
#icon-birth{
	float: left;
	margin:0 20px;
}
#tab1 #description{
	color: #444444;
	font-size: 1.45em;
	width: 80%;
	font-weight: bold;
}
#tab1 .form{
	margin:0 20px;
	top:-50px; 
}
#tab1 .title-price{
	position: absolute;
	right: 5%;
	top: 213px;
}
#text, .read-more,#operating, .icon-play { padding: 10px 20px;}
#top, #social, .nav-tabs li, #rating, #pull-right, #gratuita, #details, #tab1 h1 {display: none;}
.right-part {
	padding: 20px 0;
}
.brand{
	text-align: center;
}

#caroline{
	background-color: #fff;
	padding:10px;
}
#francisc{
	background-color: #f3f0eb;
	padding:10px;
}
#oscar{
	background-color: #fff;
	padding:10px;
}
hr{margin: 0;}
.border{
	float: left;
	margin-right:10px;
}
.media-heading {
	margin: -30px 0 5px;
	padding: 0 5px;
	font-size: 1.3em;
}
.form{
	float: right;
}
.footer .form .price, #poz {
	left:15px;
}
.footer .form .experts a {
	left:5px;
}
.footer-main{
	height:auto;
}
.footer{
	margin: 10px 0;
}
.footer .title {
	padding-top: 10px;
	padding-left: 10px;
}
.footer .form {
	right: 0;
}
}