/*styles that modify the bootstrap/bootstrap-responsive styles*/

/*==navbar==*/

.navbar-inner {
   /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#6e6e6e), to(#4e4e4e));
  
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #6e6e6e, #4e4e4e);
  
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #6e6e6e, #4e4e4e);
  
  /* IE 10 */
  background: -ms-linear-gradient(top, #6e6e6e, #4e4e4e);
  
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #6e6e6e, #4e4e4e);
  border: none;
  border: 0;
}

.navbar-inner .container {position: relative;}

.nav-collapse {float: right;}

.navbar .brand {
 position: absolute;
 top: 0;
 left: 0;
 font-family: Verdana, Geneva, sans-serif;
 font-size: 30px;
 font-style: italic;
 color: #aad1eb;
 padding: 10px 0;
 background: url(../img/brandBackground.png) no-repeat;
 width: 232px;
 height: 89px;
}

.nav {padding-bottom: 10px;}

.navbar .nav > li {padding-right: 30px;}

.navbar .nav > li > a,
.navbar .nav > li > a:hover {
 font-family: Verdana, Geneva, sans-serif;
 font-weight: bold;
 font-style: italic;
 color: #ffffff;
 border-bottom-left-radius: 5px;
 border-bottom-right-radius: 5px;
}

.navbar .nav > li > a:hover {
  background-color: #b1d9f6; 
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #b1d9f6;
  -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
     -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
}


.row-fluid {
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#383838), to(#232323));
  
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #383838, #232323);
  
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #383838, #232323);
  
  /* IE 10 */
  background: -ms-linear-gradient(top, #383838, #232323);
  
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #383838, #232323);
}


@media (max-width: 979px) {
  .navbar-inner {
    background-color: #5c5b5b;
	background-image: none;
  }
  .nav-collapse {
   float: left;
   padding-top: 40px; 
  }
  .navbar .brand { 
   background-image: none;
  }
  .row-fluid {
   margin: 0;
  }
}


@media (min-width: 979px) {
  .row-fluid {
   padding-top: 99px;
  }
}

.span8 {
 border-right: 1px solid #202020;
 margin-bottom: 20px;
}

.span8 h3,
.span8 p {
  font-family: Verdana, Geneva, sans-serif;
  color: #eeeeee;
  display: inline;
}

.span8 h3 {
 font-size: 20px;
 padding-right: 3px;
}

.span8 p {
 font-size: 12px;
}

.span4 h3 {
  font-family: Verdana, Geneva, sans-serif;
  color: #eeeeee;
  font-size: 22px;
}

.span4 a {
 display: block;
 text-indent: -9999px;
 width: 232px;
 height: 89px;
 background: url(../img/social.png) no-repeat;
}

.row-fluid.main {
 background: url(../img/mainSlice.jpg) repeat;
 height: 624px;
 padding: 0;
}

.row-fluid.main .container {
 background: #fafafa; 
 border-radius: 10px; 
 overflow: hidden; 
 margin-top: 30px;
}

.row-fluid.main .container .span3 {
 background: #f6f6f6;
}

.row-fluid.main .container .span3 h3 {
 font-family: Verdana, Geneva, sans-serif;
 font-weight: bold;
 font-size: 20px;
 color: #3d3d3d;
 padding-left: 5px;
}

.row-fluid.main .container .span3 p {
 font-family: Verdana, Geneva, sans-serif;
 font-weight: bold;
 font-size: 12px;
 color: #252525;
 padding: 0 7px;
 background: #dedede;
 width: 135px;
 border-top-right-radius: 10px;
 border-bottom-right-radius: 10px;
}

.row-fluid.main .row-fluid {
 background: #fafafa;
 padding: 0 0 0 27px;
}

.row-fluid.main .row-fluid h1 {
 font-family: Verdana, Geneva, sans-serif;
 font-size: 26px;
 font-weight: bold;
 width: 245px;
}

.row-fluid.main .row-fluid p {
 font-family: Verdana, Geneva, sans-serif;
 font-size: 14px;
 font-weight: normal;
 color: #0f0f0f;
}

.row-fluid.main .row-fluid p.details {
 font-family: Verdana, Geneva, sans-serif;
 font-size: 14px;
 color: #353535;
 font-weight: bold;
}

.row-fluid.main .row-fluid h1,
.row-fluid.main .row-fluid p.details {
 display: inline-block;
}

.row-fluid.main .row-fluid img {
 margin-right: 30px;
}

.last{
 margin-bottom: 40px;
}

.span9 {
 padding-right: 30px;
}

.span6 {
 border-left: 1px solid #666666;
 border-right: 1px solid #666666;
}

.container {padding: 0;}